.auth-wrapper {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    overflow: hidden;
    min-width: 100%;
    min-height: 100vh;
  
    .auth-content {
      position: relative;
      width: 390px;
      padding: 15px;
      z-index: 5;
  
      &.multyform, &.subscribe {
        width: 750px;
      }
    }
  
    .auth-bg .r {
      position: absolute;
      width: 300px;
      height: 300px;
      border-radius: 50%;
  
      &:first-child {
        top: -100px;
        right: -100px;
        background: linear-gradient(-135deg, #1de9b6 0%, #1dc4e9 100%);
      }
  
      &:last-child {
        left: -100px;
        bottom: -100px;
        background: linear-gradient(-135deg, #899FD4 0%, #A389D4 100%);
      }
  
      &.s {
        width: 20px;
        height: 20px;
  
        &:nth-child(2) {
          top: 150px;
          right: -150px;
          background: #04a9f5;
        }
  
        &:nth-child(3) {
          left: -150px;
          bottom: 150px;
          background: #1de9b6;
        }
      }
  
      &:nth-child(odd) {
        -webkit-animation: floating 7s infinite;
        animation: floating 7s infinite;
      }
  
      &:nth-child(even) {
        -webkit-animation: floating 9s infinite;
        animation: floating 9s infinite;
      }
    }
  }
  
  @media only screen and (max-width: 768px) {
    .auth-wrapper {
      max-width: 360px;
    }
  }
  
  @media only screen and (max-width: 575px) {
    .auth-wrapper .card .card-body {
      padding: 30px 15px;
    }
  }
  
  /* image varient start */
  @-webkit-keyframes floating {
    from {
      -webkit-transform: rotate(0deg) translate(-10px) rotate(0deg);
      transform: rotate(0deg) translate(-10px) rotate(0deg);
    }
  
    to {
      -webkit-transform: rotate(360deg) translate(-10px) rotate(-360deg);
      transform: rotate(360deg) translate(-10px) rotate(-360deg);
    }
  }
  
  @keyframes floating {
    from {
      -webkit-transform: rotate(0deg) translate(-10px) rotate(0deg);
      transform: rotate(0deg) translate(-10px) rotate(0deg);
    }
  
    to {
      -webkit-transform: rotate(360deg) translate(-10px) rotate(-360deg);
      transform: rotate(360deg) translate(-10px) rotate(-360deg);
    }
  }